.idea/
target/
*.log
*.DS_Store
pom.xml.versionsBackup
*/.git/*
*-backup
pom.xml.releaseBackup
flyway.properties
config.yml
config.properties
log4j.properties
sink_consumers/data
dependency-reduced-pom.xml
data/
*.iml
*.ipr
*.iws
consistency_log/
connectors_dump/
bigqueue_webhooks/
kafka-producer-data/
kafka-producer-tracker/
!core/src/main/java/io/hevo/core/data
!core/src/test/java/io/hevo/core/data
!.circleci/config.yml
zookeeper.out
client_secret.json
email.html
!app/conf/default_transformations_v2.py
sample-messages/
samples-queue/
sink-aggregatable/
